---
import Layout from "../layouts/Global.astro";
import LinkPreview from "../components/LinkPreview.astro";

type Props = {
  title: string;
  date: string;
  modified: string;
  description: string;
  image?: string;
  project_url?: string;
};

const { title, date, modified, description, image, project_url } = Astro.props;

const GoogleSchema = {
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  headline: title,
  image: ["https://julienc.me/images/" + image],
  datePublished: date,
  dateModified: modified,
  author: [
    {
      "@type": "Person",
      name: "Julien CAGNIART",
      url: "https://julienc.me/whoami",
    },
  ],
};

import "../styles/article.css";
---

<Layout title={title} description={description} schema={GoogleSchema}>
  <!-- We need to use is:inline in order to apply the style to the children -->
  <style is:inline></style>
  <script>
    /* import { annotate } from "rough-notation";
    document.querySelectorAll("strong").forEach((el) => {
      console.log(el);

      const annotation = annotate(el, {
        type: "underline",
        iterations: 1,
        padding: 2,
        // Yellow for dark mode
        color: "#f9f871",
      });
      annotation.show();
    }); */
  </script>
  <div class="max-w-[80ch] mx-auto">
    {
      image && (
        <img
          class="w-full object-cover rounded-lg aspect-video mb-4 md:mt-8 transition-all"
          src={image}
          alt={title}
        />
      )
    }

    <h1
      class="text-xl mb-1 max-w-fit font-semibold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent md:text-2xl"
    >
      {title}
    </h1>
    <p
      class="text-neutral-400 text-sm pb-2 mb-6 font-normal border-b-neutral-700 border-b"
    >
      {description}
    </p>
    {
      project_url && (
        <div class="mb-4">
          <LinkPreview
            href={project_url}
            title="Access the project here 📌"
            description={project_url}
          />
        </div>
      )
    }

    <article class="mb-8">
      <slot />
    </article>
    <h2>Comments</h2>
    <script
      src="https://utteranc.es/client.js"
      repo="julien040/blog"
      issue-term={title}
      theme="github-dark"
      crossorigin="anonymous"
      async></script>
  </div>
</Layout>
