---
import Layout from "../../layouts/Global.astro";
import type { Project } from "../../types/project";
import { getProjects } from "../../utils/getProjects";

const projects: Project[] = await getProjects();
---

<Layout
  title="Julien"
  description="I'm Julien. I occasionnaly publish articles about programming and tech."
>
  <h1
    class="text-xl md:text-2xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
  >
    My portfolio
  </h1>
  <p class="text-neutral-400 text-sm mt-1 mb-6">
    This page compiles the list of the projects I have created. If you are a
    recruiter, feel free to check my experiences here.
  </p>

  {
    projects.map((project) => {
      const started = project.started;
      const ended = project.finished;
      const dateString = `${started} - ${ended === undefined ? "Now" : ended}`;
      return (
        <a
          href={project.url}
          class="project flex gap-3 md:gap-4 flex-col md:flex-row items-start bg-white/5 hover:scale-[102%] my-4  rounded-xl  p-6"
        >
          <img
            src={project.image}
            alt={project.title}
            class="w-full rounded-md md:w-1/3 aspect-video object-cover"
          />
          <div class="flex items-start justify-start flex-col self-stretch w-full">
            <h2
              id="title"
              class="text-xl tracking-tighter font-semibold text-white/80"
            >
              {project.title}
            </h2>
            <p class="text-neutral-500 text-sm">{project.description}</p>
            <p class="md:text-sm text-xs  mt-4 md:mt-auto self-end text-neutral-400">
              {dateString}
            </p>
          </div>
        </a>
      );
    })
  }
</Layout>

<style>
  #title {
    margin-top: 0;
  }
  .project {
    transition: transform 0.15s ease-in-out;
  }
</style>
